{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
    {% for post in posts %}
        <div class="post">
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
            <div class="date">
                {{ post.published_date }}
            </div>

        </div>
    {% endfor %}
    {%endif%}
{% endblock %}