{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
    <h1>New post</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    {%endif%}
{% endblock %}